.movies{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.movie_block{
  width: 280px;
  color: white;
  display: flex;
  background-color: rgb(39,37,87);
  flex-direction: column;
  padding: 1rem;
  margin: .5em;
}

.movie_block > img{
  min-width: 100%;
  min-height: 90%;
}

.movie_block > h3{
  width: 100%;
  margin: 10px 0;
}

header{
  width: 93%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

form > input{
  background-color: rgb(39,37,87);
  color: white;
  padding: .5em 1em;
  border-radius: 5px;
  outline: none;
  border: none;
}